.homepage-banner {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding: 0 !important;
  background-color: $almost-black;

  @media all and (max-width: 767px) {
    width: 100%;
  }

  &:hover {

    .banner--title {
      border: 10px solid $white;
      text-align: center;
      margin: $sm-space;
    }
  }

  .emotion--banner {
    position: relative;

    .emotion--banner {

      .banner--content {

        .banner--image {

          .banner--image-src {
            display: block;
            min-height: 350px;
            object-fit: cover;
          }
        }
      }
    }

    .banner--content {

      .banner--title {
        position: absolute;
        color: $white;
        top: 0;
        left: 0;
        width: calc(100% - 60px);
        height: calc(100% - 60px);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: $md-space;
        box-sizing: border-box;
        transition: all 0.3s;
      }

      .banner--link {
        display: none;
      }
    }
  }
}