// Colors

$white: #FFFFFF;
$almost-black: #131313;
$rollovers-color: #A41D23;

$super-light-color: #F8F8F8;
$lighter-color: #EFEFEF;
$light-color: #C6C8CA;
$dark-color: #898B8E;
$darker-color: #656565;

$alert-color: #FBB040;
