//Spacing
$sm-space: 15px;
$md-space: 30px;
$lg-space: 80px;
$slider-space: 40px;

//Gutters
$xxsm-gutter: 10px;
$xsm-gutter: 15px;
$sm-gutter: 20px;
$md-gutter: 30px;
$lg-gutter: 40px;
$xlg-gutter: 50px;
$xxlg-gutter: 60px;
$xxxlg-gutter: 70px;


